{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API DOC - ClintIA Soluções tecnólogicas",
    "description": "API Documentation to ClintIA"
  },
  "servers": [
    {
      "url": "https://api.clintia.com.br"
    }
  ],
  "paths": {
    "/api/v1/auth/login/admin": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login as Admin",
        "description": "Route to Login as admin",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "any"
                  },
                  "password": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login/patient": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login as patient",
        "description": "Route to Login as patient",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cpf": {
                    "example": "any"
                  },
                  "password": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List All Exame by Tenant",
        "description": "Route to list all exams",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create a Exame",
        "description": "Route to create a exam",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exam_name": {
                    "example": "any"
                  },
                  "price": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/cpf": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get Admin info by CPF",
        "description": "Filter Admins with CPF ",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/name": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get Admin info with Name ",
        "description": "Get Admin infos filter by Name",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/exam": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get Doctors by Exam ",
        "description": "Filter Doctors by exam name",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "examName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/doctors": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List All Doctors by Tenant with pagination",
        "description": "Get All Doctors from a Tenant with pagination By default list 10",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/register": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Register a Admin ",
        "description": "Route to create a new admin/doctor",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "any"
                  },
                  "adminCpf": {
                    "example": "any"
                  },
                  "password": {
                    "example": "any"
                  },
                  "fullName": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/register/patient": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Register a Patient ",
        "description": "Route to create a new patient",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "example": "any"
                  },
                  "cpf": {
                    "example": "any"
                  },
                  "dob": {
                    "example": "any"
                  },
                  "email": {
                    "example": "any"
                  },
                  "phone": {
                    "example": "any"
                  },
                  "address": {
                    "example": "any"
                  },
                  "gender": {
                    "example": "any"
                  },
                  "health_card_number": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/patients": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List All Patients by Tenant",
        "description": "List All Patient from a tenant",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/patientexams": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create Patient Exam",
        "description": "Booking a exam to a patient",
        "parameters": [
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "patientId": {
                    "example": "any"
                  },
                  "examId": {
                    "example": "any"
                  },
                  "examDate": {
                    "example": "any"
                  },
                  "doctorId": {
                    "example": "any"
                  },
                  "userId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Admin/Patient"
        ],
        "summary": "List Patient Exams with filters",
        "description": "Filters by Date, CPF, Date(YYYY-MM-DD), status, Patient ID, Tenant ID)",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-patient-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientCpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/patientexams/{patientExamId}": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update Patient Exam",
        "description": "Save link and update status in exam scheduled",
        "parameters": [
          {
            "name": "patientExamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "example": "any"
                  },
                  "link": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete Patient Exam",
        "description": "Delete a Scheduled Exam",
        "parameters": [
          {
            "name": "patientExamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/uploadthing": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/{clinicExamId}": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Route to update the exam infos",
        "description": "Route to update a exam info",
        "parameters": [
          {
            "name": "clinicExamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exam_name": {
                    "example": "any"
                  },
                  "price": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Route to delete a exam",
        "description": "Route to delete a exam",
        "parameters": [
          {
            "name": "clinicExamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/noticecard": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create a Notice Card ",
        "description": "Route to create a notice card",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "example": "any"
                  },
                  "createdBy": {
                    "example": "any"
                  },
                  "date": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List Notices Cards ",
        "description": "Route to list all notice card or with filters",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/admin/noticecard/{cardId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a Notice Card ",
        "description": "Route to delete a notice card",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/patient/cpf": {
      "get": {
        "tags": [
          "Admin/Patient"
        ],
        "summary": "Find a Patient by CPF",
        "description": "Get patient infos",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-patient-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/patient/exams": {
      "get": {
        "tags": [
          "Admin/Patient"
        ],
        "summary": "List Patient Exams with filters",
        "description": "Filters by Date, CPF, Date(YYYY-MM-DD), status, Patient ID, Tenant ID)",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-patient-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientCpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "someResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "string"
          },
          "message": {
            "type": "string",
            "example": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        }
      },
      "status": {
        "type": "object",
        "properties": {
          "status": {
            "type": "array",
            "example": [
              "Agendado",
              "InProgress",
              "Completed"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}